<p>
	{{view Ember.TextField valueBinding="word"}}
	{{#if wordIsPalindrome}}
		<strong>Palindrome.</strong>
	{{else}}
		<strong>Not a palindrome.</strong>
	{{/if}}
</p>
<hr/>
<p>
	{{date-field}}
</p>
<hr/>
<button type="text" onclick="alert('hello.');">Click me</button>